# 아래에 데이터베이스를 세팅해주세요. (포트 번호에 주의해주세요)
spring:
  datasource:
    url: URL
    username: USERNAME
    password: PASSWORD
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true

# 아래는 CI 를 위한 세팅으로 건드리시면 안됩니다.
---
spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
server:
  servlet:
    encoding:
      charset: UTF-8
      force: true
